.completed-summery {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  text-transform: capitalize;
  color: #008697;
  font-style: italic;
}

.pendig-summery {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  text-transform: capitalize;
  font-style: italic;
  color: red;
}

.summary {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
  text-transform: capitalize;
  color: black;
}

.table td, .table thead th {
  padding: 4px 2.9rem 4px 1.3rem;
  font-size: 13px;
  border-top: 1px solid #FAFAFA;

}

