<div style="width:600px">
  <!--<mat-toolbar color="primary">-->
  <!--<mat-toolbar-row>-->
  <!--<span>Activity Maintainace</span>-->
  <!--&lt;!&ndash; <span class="toolbar-spacer"></span>&ndash;&gt;-->
  <!--<div class="header-actions" style="width: 100%;">-->
  <!--<mat-form-field>-->
  <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">-->
  <!--</mat-form-field>-->

  <!--<button mat-icon-button [routerLink]="['/activitys/edit/', 0]">-->
  <!--<mat-icon class="mat-button-icon">add</mat-icon>-->
  <!--Add-->
  <!--</button>-->
  <!--<button mat-icon-button>-->
  <!--<mat-icon>more_vertical</mat-icon>-->
  <!--</button>-->

  <!--</div>-->
  <!--</mat-toolbar-row>-->
  <!--</mat-toolbar>-->
  <div class="mat-elevation-z8">
    <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="50px">Id</mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="50px"> {{row.ActivityId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="SubSector">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px">SubSector</mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="100px"> {{row.SubSector.DescriptionEnglishAlias}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Description">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="180px">Description</mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="180px"> {{row.DescriptionAlias}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DescriptionEnglish">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="180px">Description English</mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="180px"> {{row.DescriptionEnglishAlias}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="100px">
        </mat-header-cell>
        <mat-cell *matCellDef="let activitys" fxFlex="100px">
          <button mat-icon-button (click)="editActivity(activitys)" type="button">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="confirmDelete(activitys)" type="button">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
