<app-page-header title="Confirm" icon="error"></app-page-header>
<div [@fadeInOut] class="page-content mat-elevation-z8" fxLayout="column" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutAlign="space-around center" class="content">
        <div class="info-nag">
            <div class="info-split info-info"><i></i></div>
          <div class="info-text">Dear customer; Thank you for registering. <br>
            An email has been sent for confirmtion. Please click on the confirmation link to activate your account.
            </div>
            <br>
        </div>
    </div>
</div>