<form style="padding: 2px" (ngSubmit)="onSubmit()" [formGroup]="projectsubstituteForm" novalidate>

  <mat-card>
    <mat-card-subtitle class="sub-title">
      Project Substitute
      <mat-divider></mat-divider>
    </mat-card-subtitle>
    <mat-card-content>

      <div fxLayout="row wrap"
           fxLayoutAlign="start center"
           class="content"
           fxLayout.lt-sm="column"
           fxLayoutGap="2em">
        <div class="block" fxFlex="" *ngIf="!isInvestor">
          <mat-form-field class="full-width">
            <mat-label>Project Name</mat-label>
            <mat-select formControlName="ProjectId">
              <mat-option *ngFor="let project of projectList" [value]="project.ProjectId">
                {{project.ProjectName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="block" fxFlex="">
          <mat-form-field>
            <mat-label>Substitute Reason</mat-label>
            <mat-select formControlName="Reason">
              <mat-option *ngFor="let data of CancellationReasonData;let i=index" [value]="i">
                {{data.type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--<div class="block" fxFlex>-->
          <!--<mat-form-field>-->
            <!--<input placeholder="Cancellation Date * :"-->
                   <!--matInput-->
                   <!--formControlName="CancellationDate"-->
                   <!--[matDatepicker]="CancellationDate">-->
            <!--<mat-datepicker-toggle matSuffix [for]="CancellationDate">-->
            <!--</mat-datepicker-toggle>-->
            <!--<mat-datepicker #CancellationDate></mat-datepicker>-->
            <!--&lt;!&ndash;<mat-error align="start" *ngIf="formErrors.terminationDate">{{ formErrors.terminationDate }}</mat-error>&ndash;&gt;-->
          <!--</mat-form-field>-->
        <!--</div>-->

        <div class="blocks" fxFlex="80%">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Remark"
                   formControlName="SubstituteRemark">
            <!--<mat-error align="start" *ngIf="formErrors.StartDate">{{ formErrors.StartDate }}</mat-error>-->
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <div mat-dialog-actions fxLayoutGap="3em">
          <button
            [disabled]="!projectsubstituteForm.valid"
            mat-raised-button=""
            type="submit"
            color="primary">
            <mat-icon class="mat-18">done</mat-icon>
            <!--<span class="agree">Save</span>-->
            {{editMode ? 'Approve' : 'Save'}}
          </button>
          <!--<button *ngIf="!isInvestor" mat-raised-button (click)="onClear()" color="primary" type="button">-->
            <!--<mat-icon class="mat-18">done_all</mat-icon>-->
            <!--<span>Approve</span>-->
          <!--</button>-->
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div *ngIf="loading" class="loadme-circleBounce">
  <div class="loadme-circleBounce1"></div>
  <div class="loadme-circleBounce2"></div>
</div>
