<mat-tab-group style="width: 670px;margin-top: 20px;margin-left: 50px">
  <mat-tab label="Sector">
    <ng-template matTabContent>
      <app-list-sector></app-list-sector>
    </ng-template>
  </mat-tab>
  <mat-tab label="SubSector">
    <ng-template matTabContent>
      <app-list-subsector></app-list-subsector>
    </ng-template>
  </mat-tab>
  <mat-tab label="Activity">
    <ng-template matTabContent>
      <app-list></app-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Investment Activity">
    <ng-template matTabContent>
      <app-list-invactivity></app-list-invactivity>
    </ng-template>
  </mat-tab>
</mat-tab-group>
