<div >
  <mat-toolbar color="primary" mat-dialog-title>
    <!-- Test -->
    <h1 *ngIf="!canManageRoles">{{'roles.management.RoleDetails' | translate:roleName}}</h1>
    <h1 *ngIf="canManageRoles">{{roleName ? ('roles.management.EditRole' | translate:roleName) :
      ('roles.management.NewRole' | translate)}}</h1>
  </mat-toolbar>
  <br>
  <div style="padding: 10px">
    <div>
      <role-editor #roleEditor [role]="data.role" [allPermissions]="data.allPermissions"></role-editor>
      <div mat-dialog-actions style="text-align: center; margin-left: 30%">
        <button *ngIf="canManageRoles" mat-raised-button (click)="roleEditor.save();" color="primary">Save</button>
        <button *ngIf="canManageRoles" mat-raised-button (click)="cancel()" color="warn">Cancel</button>
        <button *ngIf="!canManageRoles" mat-raised-button (click)="cancel()">Close</button>
      </div>
    </div>
  </div>
</div>
