<div>

  <form #form="ngForm" [formGroup]="roleForm" novalidate (ngSubmit)="save()" fxLayout="column" fxLayoutGap="1em"
        autocomplete="off">

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em" class="mat-elevation-z8" style="padding:20px">

      <div>
        <!--<h4>Role Data</h4>-->
        <!--<mat-divider></mat-divider>-->
        <br>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
          <mat-form-field fxFlex style="width: 100px">
            <mat-label>{{'roles.editor.Name' | translate}}</mat-label>
            <input matInput formControlName="name" [readonly]="!canManageRoles"/>
            <mat-error *ngIf="name.hasError('required')">
              {{'roles.editor.RoleNameRequired' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex style="width: 500px">
            <mat-label>{{'roles.editor.Description' | translate}}</mat-label>
            <input matInput formControlName="description" [readonly]="!canManageRoles"/>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="mat-elevation-z8" style=" overflow:scroll; height: 300px">
      <h4>Select Permissions</h4>
      <mat-divider></mat-divider>
      <br>
      <mat-expansion-panel *ngFor="let permissionGroup of allPermissions | groupBy: 'GroupName'"
                           class="mat-elevation-z6">
        <mat-expansion-panel-header style="background-color:whitesmoke">
          <mat-panel-title>
            {{permissionGroup.key}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slide-toggle [disabled]="!canManageRoles" *ngFor="let permission of permissionGroup.value"
                          matTooltip="{{permission.Description}}"
                          (click)="$event.stopPropagation()"
                          (change)="$event ? selectedPermissions.toggle(permission) : null"
                          [checked]="selectedPermissions.isSelected(permission)">
          {{permission.Name}}
        </mat-slide-toggle>
      </mat-expansion-panel>
    </div>
    <br/>
  </form>
</div>
