.mess-body{
  padding: 20px;    line-height: 1.428571429;
  color: #333;
  padding: 10px;
  text-align: justify !important;
}
mat-card {
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 0px !important;
  border-radius: 2px;
}
