.table td{
  padding: 4px 2.9rem 4px 1.3rem;
  font-size: 13px;
  border-top: 1px solid #FAFAFA;
  //border-bottom: 1px solid #ccc;

}
.table th {
  padding: 4px 2.9rem 4px 1.3rem;
  font-size: 13px;
  border-top: 1px solid #FAFAFA;
  //border-bottom: 1px solid #ccc;
}
