<!--<app-page-header icon="dashboard" title="dashboard"></app-page-header>-->

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
  <div *ngIf="errors.length>0" class="alert-info" fxLayout=" row wrap" fxLayoutAlign="center">
    <ol type="i">
      <li class="mat-error" *ngFor="let error of errors;">{{error}}</li>
    </ol>
  </div>


</div>

<mat-card class="margin-2" style="box-shadow: none;padding: 15px !important;border: 1px solid #dddddd"
          *ngIf="addshow || editMode">

  <form [formGroup]="billOfMaterialForm" novalidate>

    <mat-card-content>

      <div fxLayout.xs="row wrap"
           fxLayoutAlign.xs="start center"
           fxLayoutGap="2em">
        <div class="block" fxLayoutGap="2em">
          <mat-form-field [fxFlex]="20">
            <mat-label>{{'balalnce.Description' | translate}}</mat-label>
            <input type="text" matInput required
                   formControlName="Description">
          </mat-form-field>
          <mat-form-field [fxFlex]="20">
            <mat-label>{{'balalnce.HsCode' | translate}}</mat-label>
            <input type="text" matInput required
                   formControlName="HsCode">

          </mat-form-field>
          <mat-form-field [fxFlex]="20">
            <mat-label>{{'balalnce.Quantity' | translate}}</mat-label>
            <input type="text" matInput required
                   formControlName="Quantity">
          </mat-form-field>
          <mat-form-field [fxFlex]="20">
            <mat-label>{{'balalnce.MesurmentUnit' | translate}}</mat-label>
            <mat-select formControlName="MesurmentUnit" required>
              <option value="0">--Select--</option>
              <mat-option *ngFor="let unit of unitTypes" [value]="unit.Id">
                <span>{{unit.DescriptionEnglish}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </mat-card-content>
  </form>
</mat-card>
<mat-card class="margin-2">

  <mat-card-content>
      <div style="margin-left: 40px">
          <h2>Duty Free Items Balance</h2>
        </div>

    <div fxFlex="100%" *ngIf="itemList.length>0">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div class="spinner-container" *ngIf="loading">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="No">
          <mat-header-cell [fxFlex]="6" *matHeaderCellDef>No</mat-header-cell>
          <mat-cell [fxFlex]="6" *matCellDef="let itemList;let i=index;">
            {{i+1}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Description">
          <mat-header-cell fxFlex="30" *matHeaderCellDef>Description</mat-header-cell>
          <mat-cell fxFlex="30" *matCellDef="let itemList">
            {{itemList?.Description}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="HsCode">
          <mat-header-cell *matHeaderCellDef>HsCode</mat-header-cell>
          <mat-cell *matCellDef="let itemList">
            {{itemList?.HsCode }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Quantity">
          <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let itemList"> {{itemList?.Quantity }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="MesurmentUnit">
          <mat-header-cell *matHeaderCellDef>Measurment Unit</mat-header-cell>
          <mat-cell *matCellDef="let itemList"> {{itemList?.MesurmentUnit |
            filterPipe: 10}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Balance">
          <mat-header-cell *matHeaderCellDef>
            <span > Balance</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let itemList">
            {{itemList?.Balance }}
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator

        #paginator
        [pageSize]="8"
        [pageSizeOptions]="[8, 10, 20]">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
