.mat-tab {
  width: 350px !important;
}

.mat-tab-label[_ngcontent-c9] {
  min-width: 50px !important;
}

.tabs-container {
  min-height: unset !important;
  padding: 20px 10px;
  background-color: white !important;
  margin-bottom: 10px;
}
