<mat-tab-group style="width: 850px;margin-top: 20px;margin-left: 50px">
  <mat-tab label="Services">
    <ng-template matTabContent>
      <app-list></app-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Service Prerequistie">
    <ng-template matTabContent>
      <app-serviceprerequiste-list></app-serviceprerequiste-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Services Stepper">
    <ng-template matTabContent>
      <app-list-servicestepper></app-list-servicestepper>
    </ng-template>
  </mat-tab>
  <mat-tab label="Service Tariff">
    <ng-template matTabContent>
      <app-list-servicetariff></app-list-servicetariff>
    </ng-template>
  </mat-tab>
  <mat-tab label="Tariff">
    <ng-template matTabContent>
      <app-list-tariff></app-list-tariff>
    </ng-template>
  </mat-tab>
</mat-tab-group>
