mat-header-row {
  background-color: whitesmoke;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1 !important;
}

mat-radio-button {
  margin-top: 20px !important;
}

mat-header-row {
  min-height: 30px;
}
