/* div {
  display: flex;
} */

mat-card {
  max-width: 500px;
  margin: 10px auto;
  text-align: center;
}
mat-checkbox {
  max-width: 500px;
  margin: 2em auto;
  text-align: left;
}
/*mat-form-field  {*/
  /*max-width: 400px;*/
  /*margin-right: 10px;*/
  /*font-size: 16px;*/
/*}*/
.row
{
  text-align: left;
  margin-bottom: 15px;
}