<app-page-header title="AccessDenied" icon="error"></app-page-header>
<div [@fadeInOut] class="page-content mat-elevation-z8"   fxLayout="column" fxLayoutAlign="center center">
    <div style = "margin-top: 50px">
        <mat-icon class="mat-icon-lg vertical-center">map</mat-icon>
        <h1 class="vertical-center" style="margin: 0; color: red">{{'accessDenied.403' | translate}}</h1>
    </div>
    <br>
    <p style="margin: 0; color: red">{{'accessDenied.accessIsDenied' | translate}}</p>
    <br>
    <br>

    <button mat-raised-button color="primary" (click)="goHome()"    style = "margin-bottom: 50px">
        <mat-icon>home</mat-icon>
        <span>{{'accessDenied.backToHome' | translate}}</span>
    </button>
    <br>
</div>