<div style="width:800px" class="margin-3">
  <!--<mat-toolbar color="primary">-->
  <!--<mat-toolbar-row>-->
  <!--<span>Service Tariff Lookup</span>-->
  <!--&lt;!&ndash; <span class="toolbar-spacer"></span>&ndash;&gt;-->
  <!--<div class="header-actions" style="width: 100%;">-->
  <!--<mat-form-field>-->
  <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">-->
  <!--</mat-form-field>-->
  <!--&lt;!&ndash;      <button mat-icon-button>-->
  <!--<mat-icon>search</mat-icon>-->
  <!--</button>&ndash;&gt;-->
  <!--<button mat-icon-button [routerLink]="['/servicetariffs/edit/', 0]">-->
  <!--<mat-icon class="mat-button-icon">add</mat-icon>-->
  <!--Add-->
  <!--</button>-->
  <!--<button mat-icon-button>-->
  <!--<mat-icon>more_vertical</mat-icon>-->
  <!--</button>-->

  <!--</div>-->
  <!--</mat-toolbar-row>-->
  <!--</mat-toolbar>-->
  <div class="mat-elevation-z8">
    <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="ServiceId">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px">Service Id</mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="100px"> {{row.ServiceId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="ServiceNameEnglish">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="180px">Service Name</mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="180px"> {{row.DisplayNameEnglish}}</mat-cell>
      </ng-container>
      <!--<ng-container matColumnDef="Fee" >-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="180px">Fee</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row" fxFlex="180px"> {{row.Fee}}</mat-cell>-->
      <!--</ng-container>-->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="100px">
          <button mat-button color="primary" (click)="editServiceTariff()">
            <mat-icon class="mat-button-icon">add</mat-icon>
            {{'common.commands.Add' | translate}}
          </button>
        </mat-header-cell>
        <mat-header-cell *matHeaderCellDef fxFlex="100px">
        </mat-header-cell>
        <mat-cell *matCellDef="let serviceTariffModels" fxFlex="100px">
          <button mat-icon-button (click)="editServiceTariff(serviceTariffModels)" type="button">
            <mat-icon>edit</mat-icon>
          </button>
          <!--<button mat-icon-button (click)="confirmDelete(serviceTariffModels)" type="button">-->
          <!--<mat-icon color="warn">delete</mat-icon>-->
          <!--</button>-->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
